
// Init Foundation
@include foundation-everything(true);


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text,
.text * {
  line-height: 1.5;
}

.text p {
  margin-bottom: 1em;
}

.button {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 6px;
}

/* Small only */
@media screen and ( max-width: 39.9375em ) {
  .button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
